

.user, .date {
  font-size: calc(7px + 1vmin);
  color: #888888;
  padding: 5px;
}

.user {
  min-width: 100px;
  overflow-wrap: break-word;
}

.message {
  flex-grow: 1;
  overflow-wrap: break-word;
  overflow: auto;
}